.DS_Store
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
backend/.venv/
backend/.pytest_cache/
backend/.ruff_cache/
backend/.mypy_cache/
backend/src/*.egg-info/
backend/src/**/*.egg-info/
frontend/node_modules/
frontend/dist/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
